---
layout: page
title: "About"
header-img: "img/home-bg.jpg"
multilingual: true
---


{% include multilingual-sel.html %}

<!-- Japanese Version -->
<div class="jp post-container">
    {% capture about_jp %}{% include about/jp.md %}{% endcapture %}
    {{ about_jp | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!--
{% if site.disqus_username %}
<-- disqus 评论框 start -#->
#<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<-- disqus 评论框 end -#->

<-- disqus 公共JS代码 start (一个网页只需插入一次) -#->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<-- disqus 公共JS代码 end -#->
{% endif %}-->

<b><font size="5">Leave a Comment</font><br>(注意：GitHub Accountが必要となります）</b>
                
                <script src="https://utteranc.es/client.js"
                    repo="RyoNakagami/RyoNakagami.github.io"
                    issue-term="url"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
                
                </script>
