{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}
{% if site.featured-tags %}
<section>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <b><font color="#A3A3A3">PROGRESS</font></b>
</section>
<a href='https://github.com/RyoNakagami/RyoNakagami.github.io'>
    <img src='https://img.shields.io/github/last-commit/RyoNakagami/RyoNakagami.github.io.svg' alt='commit progress' width="116" height="20"/>
</a>
<div style="line-height:50%;">
    <br>
</div>
<a href='https://projecteuler.net/'>
    <img src='https://projecteuler.net/profile/ryonak.png' alt='PE progress' width="150" height="50"/>
</a>
{% endif %}