<table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>x1</th>
        <th>x2</th>
        <th>prob</th>
        <th>D</th>
        <th>uplift</th>
        <th>y0</th>
        <th>y1</th>
        <th>observed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>0.374540</td>
        <td>0.373641</td>
        <td>0.5</td>
        <td>1</td>
        <td>-8.0</td>
        <td>-0.630692</td>
        <td>-8.630692</td>
        <td>-8.630692</td>
      </tr>
      <tr>
        <th>1</th>
        <td>0.950714</td>
        <td>0.332912</td>
        <td>0.3</td>
        <td>0</td>
        <td>2.0</td>
        <td>2.140309</td>
        <td>4.140309</td>
        <td>2.140309</td>
      </tr>
      <tr>
        <th>2</th>
        <td>0.731994</td>
        <td>0.176154</td>
        <td>0.3</td>
        <td>0</td>
        <td>2.0</td>
        <td>1.665679</td>
        <td>3.665679</td>
        <td>1.665679</td>
      </tr>
      <tr>
        <th>3</th>
        <td>0.598658</td>
        <td>0.607267</td>
        <td>0.5</td>
        <td>1</td>
        <td>8.0</td>
        <td>0.730935</td>
        <td>8.730935</td>
        <td>8.730935</td>
      </tr>
      <tr>
        <th>4</th>
        <td>0.156019</td>
        <td>0.476624</td>
        <td>0.5</td>
        <td>0</td>
        <td>-8.0</td>
        <td>-0.343076</td>
        <td>-8.343076</td>
        <td>-0.343076</td>
      </tr>
    </tbody>
  </table>
  